<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>RockPaperScissor</title>
</head>
<body>
  <div class="container">

    <h1>It's a draw!!!</h1>

    </div>
  </body>
  </html>
