@using RockPaperScissors.Models;
<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>RockPaperScissor</title>
</head>
<body>
  <div class="container">
    <h1>Game</h1>
    <div class="row">
      <div class="col">
        <h1>@Model.GetPlayerOneName()</h1>
        <button type="button" class="player1" value="rock" name="button">Rock</button><br>
        <button type="button" class="player1" value="paper" name="button">Paper</button><br>
        <button type="button" class="player1" value="scissors" name="button">Scissors</button>
      </div>
      <div class="col">
        <h1>@Model.GetPlayerTwoName()</h1>
        <button type="button" class="player2" value="rock" name="button">Rock</button><br>
        <button type="button" class="player2" value="paper" name="button">Paper</button><br>
        <button type="button" class="player2" value="scissors" name="button">Scissors</button>
      </div>
      <button type="button" id="checkCondition" name="button">Check Winner</button>
    </div>
  </div>
  <form id="play-form" action="/result" method="post">
    <input type="hidden" id="player1choice" name="player-one-choice" value="">
    <input type="hidden" id="player2choice" name="player-two-choice" value="">
  </form>
</body>
</html>
